{
  "parser": "babel-eslint",
  "plugins": ["restrict-named-import"],
  "rules": {
    "quotes": [2, "single"],
    "indent": [2, 2],
    "restrict-named-import/no-specific-named-import": [2, [["react-native", "Text"]]]
  }
}
